
@import 's3.animator';
@import 'normalize';
@import 'fonts';
@import 'owl.carousel.min';
@import 'slick';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
.animate__fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.site-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'DIN Pro Cond', Arial, serif;
    background: #EFEFEF;
    .site-header {      
        border-top: 6px solid #DF0000; 
        position: relative;
        background: #EFEFEF;
        z-index: 100;
        .site-header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 94px;
        }
        nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
            font-family: 'DIN Pro Cond', Arial, serif;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            li {
                padding: 0 20px;
                a {
                    color: #353535;
                    text-decoration: none;
                    font-size: 22px;
                    transition: color 0.3s ease;
                    &:hover {
                        color: #DF0000;
                    }
                }
                &.active {
                    font-weight: 700;
                }
            }
        }
        .btn-burger {
            font-weight: 700;
            font-size: 0;
            line-height: 0;
        }
    }

    .tab_content {
        height: 100%;
        display: none;
        &.active {
            display: block;
        }
    }

    .block-main {
        flex: 1;
        position: relative;
        display: flex;
        align-items: flex-end;
        user-select: none; 
        width: 100%;
        height: 100%;

        &.main {
            background: url('../images/dest/bg-main.webp') 50% 20% no-repeat;
            background-size: cover;

            .main-img {
                text-align: center;
                padding-top: 100px;
                margin: 0 auto;
                position: relative;
                @media (max-height: 800px) {
                    padding-top: 50px;
                }
                @media (max-height: 700px) {
                    padding-top: 40px;
                }
                > img {
                    vertical-align: bottom;
                    height: calc(100vh - 340px);


                    @media (max-width: 1160px) {
                        height: auto;
                    }
                    @media (max-height: 820px) {
                        height: calc(100vh - 282px);
                    }
                    @media (max-height: 800px) {
                        height: calc(100vh - 286px);
                    }
                    @media (max-height: 700px) {
                        height: calc(100vh - 238px);
                    }
                    
                }
                .about-site {
                    position: absolute;
                    bottom: 15%;
                    right: 0;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .site-desk {
                        display: block;
                        color: #fff;
                        font-size: 40px;
                        text-transform: uppercase;
                        line-height: 49px;
                        font-family: 'DIN Pro Cond', Arial, serif;
                        font-weight: 500;
                        position: relative;
                        padding: 0 0 0 34px;
                        text-align: left;
                        margin-left: 20px;
                        @media (max-width: 1280px) {
                            font-size: 44px;
                        }
                        

                        @media (max-height: 900px) {
                            font-size: 32px;    
                        }

                        @media (max-height: 860px) {
                            font-size: 30px;    
                        }

                        @media (max-height: 800px) {
                            font-size: 30px;
                            line-height: 40px;
                            padding-top: 8px; 
                        }

                        @media (max-height: 760px) {
                            font-size: 30px;
                            margin-left: 0px;
                        }

                        @media (max-height: 660px) {
                            font-size: 26px;
                            margin-left: -20px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 32px;
                            margin-left: 10px;
                        }

                        &:after {
                            content: '';
                            display: block;
                            background: url('../images/dest/ico-1.svg') 0 0 no-repeat;
                            width: 14px;
                            height: 95px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    .site-logo {
                        display: block;
                        max-width: 440px;
                        margin-right: 20px;
                        @media (max-width: 1440px) {
                            max-width: 370px;
                        }
                        @media (max-width: 1380px) {
                            max-width: 340px;
                        }
                        @media (max-width: 1280px) {
                            max-width: 310px;
                        }
                        


                        @media (max-height: 900px) {
                            max-width: 364px;
                        }

                        @media (max-height: 800px) {
                            max-width: 304px;
                        }

                        @media (max-height: 760px) {
                            max-width: 260px;
                            margin-right: 0px;
                        }
                        @media (max-height: 660px) {
                            max-width: 220px;
                            margin-right: -20px;
                        }

                        @media (max-width: 1024px) {
                            max-width: 250px;
                        }
                    }
                }
            } 
        }

        &.services {
            background: #6a6a6a url('../images/dest/bg-services.webp') 60% 100% no-repeat;
            background-size: 950px auto;
            position: relative;
            color: #fff;
            align-items: center;
            .block-1 {
                position: relative;
                z-index: 4;
                display: flex;
                margin-bottom: 100px;
                &--left {
                    margin-right: 18px;
                }
                &--right {
                    
                }
                &--title {
                    font-size: 52px;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 26px;
                }
                &--desk {
                    font-weight: 500;
                    font-size: 36px;
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li {
                            position: relative;
                            padding: 6px 0 6px 30px;
                            &:after {
                                content: '';
                                display: block;
                                width: 10px;
                                height: 10px;
                                background: #C90000;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }
        }

        &.contacts {
            background: #35363a;
            justify-content: space-between;
            flex-direction: column;
            .block-contacts {
                color: #fff;
                font-weight: 700;
                font-size: 28px;
                display: flex;
                flex: 1;
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &--left {
                    margin-right: 140px;
                    padding: 80px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                &--right {
                    background: url('../images/dest/bg-contacts.webp') 130px 60% no-repeat;
                    background-size: 76% auto;
                    display: flex;
                    align-items: center;
                    padding: 20px 0;
                    flex: 1;
                    img {
                        &.desktop {
                            display: inline-block;
                            margin-bottom: 66px;
                        }
                        &.mobile {
                            display: none;
                        }
                    }
                }
                &--download {
                    margin-bottom: 50px;
                    a {
                        display: flex;
                        align-items: center;
                        span {
                            display: block;
                            &:nth-child(1) {
                                width: 80px;
                                text-align: center;
                                margin-right: 24px;
                            }
                        }
                    }
                }
                &--partner {
                    display: flex;
                    align-items: center;
                    margin-bottom: 50px;
                    > div {
                        &:nth-child(1) {
                            width: 80px;
                            margin-right: 24px;
                        }
                    }
                }
                &--phone {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    line-height: 1.4;
                    > div {
                        &:nth-child(1) {
                            margin-right: 14px;
                            margin-top: -18px;
                            img {
                                vertical-align: top;
                            }
                        }
                    }
                }
                &--email {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    > div {
                        &:nth-child(1) {
                            margin-right: 14px;
                        }
                    }
                }
                &--social {
                    display: flex;
                    a {
                        display: block;
                        margin-right: 28px;
                    }
                }
            }
            .block-copyright {
                border-top: 1px solid #fff;
                color: #fff;
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                width: 100%;
                height: 140px;
                display: flex;
                align-items: center;
                &--text {
                    margin-bottom: 20px;
                }
            }
        } 

        #fullpage {
            width: 100%;
            overflow: auto;
            height: calc(100vh - 100px);
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
            }
            #section0 {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: -300px;
                    left: 0;
                    right: 0;
                    z-index: 4;
                }
            }
            #section1 {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        #section0 {
            .block-contact-1--img {
                position: fixed;
                bottom: 0;
                transform: translateY(0%);
                transition: all .3s ease;
                z-index: 1;
            }
            .block-contact-1--text {
                margin-left: auto;
            }
        }

        #section1 {
            .block-contact-1--img {
                position: fixed;
                bottom: 0;
                transform: translateY(100%);
                transition: all .3s ease;
                &.no-fixed {
                    position: static;
                    img {
                        margin-left: -8px;
                    }
                }
            }
            .block-contact-1--text {
                margin-right: auto;
                opacity: 0;
                transition: opacity .3s ease;
                &.show-block {
                    opacity: 1;
                }
            }
        }

        #section {
            .fp-tableCell {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        #section3 {
            .block-main.contacts {
                height: calc(100vh - 100px);
            }
        }

        &.command {
            background: #e4e4e4;
            justify-content: center;
            align-items: center;
            .block-command {
                color: #000;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding-top: 40px;
                padding-bottom: 40px;
                height: calc(100vh - 100px);
                .command {
                    width: 24%;
                    min-width: 180px;
                    padding: 20px 20px;
                    &--img {
                        margin-bottom: 15px;
                        img {
                            height: 100%;
                        }
                    }
                    &--title {
                        font-size: 21px;
                        font-weight: 700;
                        margin-bottom: 6px;
                    }
                    &--hint {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

           
            .block-contact-1 {
                display: flex;
                width: 100%;
                background: #e5e5e5 url('../images/dest/bg-command.webp') 50% 100px no-repeat;
                background-attachment: fixed;
                background-size: cover;
                height: calc(100vh - 100px);
                &.block-contact-2 {
                    flex-direction: row-reverse;
                    .block-contact-1--img {
                        text-align: left;
                        padding-right: 0;
                        padding-left: 70px;
                        .img {
                            width: 600px;
                            margin-right: auto;
                            margin-left: 0;
                        }
                    }
                    .block-contact-1--text {
                        .block-contact-1--title, .block-contact-1--desk {
                            margin-left: auto;
                        }
                    }
                }
                &--img {
                    width: 50%;
                    text-align: right;
                    padding-right: 70px;
                    display: flex;
                    align-items: flex-end;
                    height: calc(100vh - 100px);
                    .img {
                        width: 600px;
                        margin-left: auto;
                    }
                    img {
                        height: calc(100vh - 100px);
                    }
                }
                &--text {
                    width: 50%;
                    font-weight: 500;
                    font-size: 28px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    p {
                        margin: 16px 0;
                    }
                }
                &--title {
                    font-weight: 700;
                    font-size: 68px;
                    text-transform: uppercase;
                    line-height: 1;
                    margin-bottom: 36px;
                    max-width: 560px;
                    width: 100%;
                }
                &--desk {
                    width: 100%;
                    max-width: 560px;
                }
            }



        }


        &.projects {
            background: #efefef;
            align-items: flex-start;
            .block-projects {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
                .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item {
                    height: 100%;
                }
                .owl-nav, .owl-dots {
                    display: none;
                }
                .active {
                    .block-projects--line div:after {
                        opacity: 1;
                    }
                }
                &--bot {
                    padding-bottom: 100px;
                }
                &--nav {
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    padding-top: 50px;
                    > {
                        div:first-child {
                            display: none;
                        }
                    }
                    div {
                        display: flex;
                        align-items: center;
                    }
                    button {
                        cursor: pointer;
                        display: block;
                        width: 29px;
                        height: 58px;
                        border: none;
                        outline-style: none;
                        &.prev {
                            background: url('../images/dest/btn-prev.svg') 0 0 no-repeat;
                        }
                        &.next {
                            background: url('../images/dest/btn-next.svg') 0 0 no-repeat;
                        }
                    }
                    .counter {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 1;
                        color: #b9b9b9;
                        margin: 0 15px;
                        span {
                            color: #000;
                        }
                    }
                }
                &--slide {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                &--cen {
                    position: relative;
                    height: 100%;
                }
                &--name {
                    position: relative;
                    z-index: 2;
                    color: #353535;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 1;
                    margin-bottom: 30px;
                    text-transform: uppercase;
                    max-width: 460px;
                }
                &--desk {
                    position: relative;
                    z-index: 2;
                    color: #353535;
                    border-left: 6px solid #C90000;
                    padding-left: 30px;
                    font-weight: 500;
                    font-size: 24px;
                    margin-bottom: 30px;
                    line-height: 1.3;
                    max-width: 460px;
                    &:after {
                        content: '';
                        background: url('../images/dest/ico-1.svg') 0 0 no-repeat;
                        width: 14px;
                        height: 40px;
                        position: absolute;
                        top: 0;
                        left: -6px;
                    }
                }
                &--link {
                    position: relative;
                    z-index: 2;
                    color: #353535;
                    max-width: 460px;
                    font-weight: 500;
                    font-size: 24px;
                    padding-left: 36px;
                    a {
                        color: #353535;
                        text-decoration: underline;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                &--img {
                    position: absolute;
                    left: 180px;
                    right: 0;
                    bottom: 40px;
                    top: -20px;
                    &.bg-1 {
                        background: url('../images/dest/city-1.webp') 0 0 no-repeat;
                    }
                    &.bg-2 {
                        top: -40px;
                        bottom: -30px;
                        background: url('../images/dest/kitchen-1.webp') 100% 100% no-repeat;
                        background-size: auto 100%;
                    }
                }
                &--title {
                    text-transform: uppercase;
                    color: #353535;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 1;
                    margin-bottom: 70px;
                }
                &--line {
                    position: relative;
                    height: 2px;
                    background: #C90000;
                    display: flex;
                    justify-content: space-around;
                    div {
                        width: 20px;
                        height: 20px;
                        background: #fff;
                        border: 6px solid #C90000;
                        border-radius: 50px;
                        margin-top: -10px;
                        position: relative;
                        &:after {
                            content: attr(data-text);
                            white-space: nowrap;
                            position: absolute;
                            top: -38px;
                            left: 50%;
                            transform: translateX(-50%);
                            color: #353535;
                            font-weight: 500;
                            font-size: 24px;
                            opacity: 0;
                            transition: opacity 0.3s ease;
                        }
                        &:nth-child(even) {
                            &:after {
                                top: 24px;
                            }
                        }
                    }
                }
            }
        }

        &.video {
            background: #e4e4e4;
            .block-video {
                height: 100%;
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 100%;
                    vertical-align: middle;
                }
                .video-slider {
                    margin: 0;
                    display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                    &--item {
                        height: 100%;
                        opacity: 0.4;
                        transition: all 300ms ease;
                        transform: scale(.7);
                        pointer-events: none;
                        &.slick-center {
                            pointer-events: auto;
                            opacity: 1;
                            transform: scale(1);
                            .video-slider--text {
                                opacity: 1;
                            }
                            iframe {
                                box-shadow: 0 4px 22px rgba(0,0,0,.3);
                            }
                        }
                    }
                    &--youtube {
                        iframe {
                            width: 100%;
                            height: 100%;
                            min-height: 486px;
                            transition: box-shadow 300ms ease;
                            box-shadow: 0 4px 22px rgba(0,0,0,.3);
                        }
                    }
                    &--text {
                        color: #353535;
                        font-weight: 500;
                        font-size: 42px;
                        line-height: 1;
                        text-align: center;
                        padding-top: 20px;
                        transition: all 300ms ease;
                        opacity: 0;
                    }
                }
            }

            .slick-dots {
                list-style: none;
                display: block;
                text-align: center;
                padding: 40px 0 0;
                margin: 0;
                width: 100%;
                li {
                    position: relative;
                    display: inline-block;
                    height: 6px;
                    width: 124px;
                    margin: 0 4px;
                    padding: 0;
                    cursor: pointer;
                    button {
                        border: 0;
                        background: #353535;
                        display: block;
                        height: 6px;
                        width: 124px;
                        outline: none;
                        line-height: 0px;
                        font-size: 0px;
                        color: transparent;
                        padding: 0;
                        cursor: pointer;
                        &:hover, &:focus {
                            outline: none;
                        }
                    }
                    &.slick-active button {
                        background: #CE1312;
                    }
                }
            }



        }

    }
    .site-inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: 1280px) {
            padding: 0 20px;
        }
    }
}







#fp-nav {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translate3d(0,-50%,0);
    display: none;
    &.active {
        display: block;
    }
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
    border-radius: 100%;
    background: #CE1312;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    border: 0;
    background: #353535;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav.fp-show-active a.active + .fp-tooltip {}

#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
#fp-nav.right {
    right: 30px;
    margin-top: 0 !important;
}


.block-contact-1-mobile {
    display: none;
    margin-bottom: 10px;
    .foto {
        background: #e5e5e5 url('../images/dest/bg-command.webp') 0 50% no-repeat;
        background-size: cover;
        display: flex;
        &.reverse {
            flex-direction: row-reverse;
            background-position: 35% 50%;
            .right {
                padding-right: 0;
                padding-left: 40px;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 20px;
            padding-left: 10px;
            .name {
                font-weight: 700;
                font-size: 40px;
                padding-top: 74px;
            }
            .job {
                font-weight: 500;
                font-size: 23px;
                padding-bottom: 30px;
            }
        }
    }
    .desk {
        font-weight: 500;
        font-size: 20px;
        padding: 28px 40px 36px;
    }
}



#nav-comanda {
    position: fixed;
    z-index: 100;
    top: 50%;
    right: 50px;
    display: none;
    &.active {
        display: block;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            width: 18px;
            height: 18px;
            background: #C90000;
            margin-bottom: 20px;
            position: relative;
            &.active {
                border: 1px #ff0000 solid;
                animation: blink 1s;
                animation-iteration-count: 3;
                &:after, &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    border: 3px solid #f3244a;
                    width: 0;
                    height: 0;
                    margin-left: -2px;
                    margin-top: -2px;
                }
                &:after {
                    animation: pinAfterWave 1s infinite;
                }
                &:before {
                    animation: pinBeforeWave 1s infinite;
                }
            }
        }
    }
}
@keyframes pinBeforeWave {
    from {
        width: 0;
        height: 0;
        margin-left: -2px;
        margin-top: -2px;
    }
    to {
        width: 30px;
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0;
    }
}

@keyframes pinAfterWave {
    from {
        width: 0;
        height: 0;
        margin-left: -2px;
        margin-top: -2px;
    }
    to {
        width: 54px;
        height: 54px;
        margin-left: -27px;
        margin-top: -27px;
        opacity: 0;
    }
}






@media (max-height: 800px) {
    .site-wrap .block-main.contacts .block-contacts--left {
        padding: 40px 0;
    }
    .site-wrap .block-main.contacts .block-contacts {
        font-size: 23px;
    }
    .site-wrap .block-main.contacts .block-contacts--right {
        background-size: 62% auto;
    }
    .site-wrap .block-main.contacts .block-copyright {
        height: 100px;  
    }
    .site-wrap .block-main.contacts .block-contacts--right img.desktop {
        width: 390px;
    }


    .site-wrap .block-main.services .block-1--title {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .site-wrap .block-main.services .block-1--desk {
        font-size: 26px;
    }
    .site-wrap .block-main.services .block-1 {
        margin-bottom: 54px;
    }


    .site-wrap .block-main.video .block-video .video-slider--youtube iframe {
        min-height: 390px;
    }
    .site-wrap .block-main.video .block-video .video-slider--text {
        font-size: 32px;
    }
    .site-wrap .block-main.video .slick-dots {
        padding-top: 20px;
    }
    .site-wrap .block-main.video .slick-dots li button, .site-wrap .block-main.video .slick-dots li {
        width: 100px;
    }

    .site-wrap .block-main.command .block-contact-1--title {
        font-size: 60px;
    }
    .site-wrap .block-main.command .block-contact-1--text {
        font-size: 22px;
    }
    .site-wrap .block-main.command .block-command .command--img img {
        max-height: 180px;
    }
    .site-wrap .block-main.command .block-command {
        max-width: 800px;
    }
    .site-wrap .block-main.command .block-command .command--title {
        font-size: 18px;
    }
    .site-wrap .block-main.command .block-command {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .site-wrap .block-main.projects .block-projects--nav {
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .site-wrap .block-main.projects .block-projects--name {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .site-wrap .block-main.projects .block-projects--desk {
        font-size: 20px;
    }
    .site-wrap .block-main.projects .block-projects--link {
        font-size: 20px;
    }
    .site-wrap .block-main.projects .block-projects--title {
        font-size: 30px;
        margin-bottom: 54px;
    }
    .site-wrap .block-main.projects .block-projects--line div:after {
        font-size: 20px;
    }
    .site-wrap .block-main.projects .block-projects--bot {
        padding-bottom: 70px;
    }
    .site-wrap .block-main.projects .block-projects--img {
        bottom: 20px;
    }
    .site-wrap .block-main.projects .block-projects--img.bg-1 {
        background-position: 0 95% !important;
    }


}


@media (max-width: 1024px) {
    .site-wrap .block-main #section0 .block-contact-1--text {
        padding-right: 30px;
    }
    #nav-comanda {
        right: 20px;
    }
    .site-wrap .block-main #section1 .block-contact-1--text {
        padding-left: 30px;
    }
    .site-wrap .block-main.command .block-command .command--img img {
        max-height: 146px;
    }
    .site-wrap .block-main.command .block-command .command {
        min-width: 160px;
    }
    .site-wrap .block-main.contacts .block-contacts {
        font-size: 20px;
    }
    .site-wrap .block-main.contacts .block-contacts--download {
        margin-bottom: 30px;
    }
    .site-wrap .block-main.contacts .block-contacts--partner {
        margin-bottom: 30px;
    }
    .site-wrap .block-main.contacts .block-contacts--phone {
        margin-bottom: 20px;
    }
    .site-wrap .block-main.contacts .block-contacts--social a img {
        width: 40px;
    }
    .site-wrap .block-main.contacts .block-contacts--left {
        padding: 20px 0;
    }
    .site-wrap .block-main.contacts .block-copyright--text {
        margin-bottom: 10px;
    }
    #nav-comanda {
        right: 30px;
    }
    .site-wrap .block-main.contacts .block-contacts--right img.desktop {
        width: 334px;
    }
    .site-wrap .block-main.command .block-command .command {
        padding-left: 10px;
        padding-right: 10px;
    }


    .site-wrap .block-main.video .block-video .video-slider--youtube iframe {
        min-height: 310px;
    }
    .site-wrap .block-main.video .block-video .video-slider--text {
        font-size: 26px;
    }
    .site-wrap .block-main.video .slick-dots li, .site-wrap .block-main.video .slick-dots li button {
        width: 80px;
    }


    .site-wrap .block-main.services .block-1--title {
        font-size: 30px;
    }
    .site-wrap .block-main.services .block-1--desk {
        font-size: 20px;
    }
    .site-wrap .block-main.services .block-1 {
        margin-bottom: 40px;
    }
}

@media (max-width: 960px) {
    .site-wrap .block-main.command .block-command {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .site-wrap .block-main.contacts .block-contacts--right img.desktop {
        width: 280px;
    }
    .site-wrap .block-main.contacts .block-contacts--left {
        margin-right: 80px;
        padding-left: 40px;
    }
    .site-wrap .block-main.command .block-contact-1--title {
        font-size: 40px;
        margin-bottom: 28px;
    }
    .site-wrap .block-main #section0 .block-contact-1--text {
        font-size: 28px;
    }
    .site-wrap .block-main.command .block-contact-1--img img {
        height: auto;
    }
    .site-wrap .block-main #section1 .block-contact-1--img.no-fixed img {
        margin-left: 0;
    }
}





@media (max-width: 640px) {
    .site-wrap .block-main #fullpage:after {
        display: none;
    }
    .site-wrap .block-main.command .block-command .command--img img {
        margin: 0 auto;
    }
    .site-wrap .block-main #fullpage #section0:after {
        display: none;
    }
    .site-wrap {
        overflow: visible;
        .site-inner {
            padding: 0 40px;
        }
    }
    .site-wrap .block-main {
        height: auto;
    }
    .site-wrap .tab_content {
        display: block !important;
        height: auto;
    }
    .site-wrap .site-header {
        position: relative; 
        .btn-burger {
            cursor: pointer;
            width: 22px;
            height: 18px;
            border-top: 3px solid #353535;
            border-bottom: 3px solid #353535;
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translateY(-50%);
            font-size: 0;
            font-weight: 700;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background: #353535;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            &.active {
                border-top: 3px solid transparent;
                border-bottom: 3px solid transparent;
                &:before {
                    content: '';
                    width: 26px;
                    height: 3px;
                    background: #353535;
                    position: absolute;
                    left: 0;
                    transform: rotate(45deg);
                    margin-left: -2px;
                    margin-top: 4px;
                }
                &:after {
                    width: 26px;
                    top: 0;
                    transform: translateY(0px);
                    transform: rotate(-45deg);
                    margin-left: -2px;
                    margin-top: 4px;
                }
            }
        }
        .site-header-inner {
            height: 90px;
            padding: 0 40px;
            > a img {
                width: 94px;
            }
            nav {
                position: fixed;
                top: 90px;
                bottom: 0;
                left: 0;
                right: 0;
                background: #DEDEDE url('../images/dest/bg-menu.webp') 0 0 no-repeat;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(100%);
                transition: transform .3s ease;
                &.active {
                    transform: translateX(0%);
                }
                ul {
                    flex-direction: column;
                    li {
                        padding: 15px 0;
                        a {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
    .site-wrap .block-main.main .main-img {
        margin-left: -20px;
        margin-right: -20px;
        .about-site {
            height: 154px;
            background: linear-gradient(360deg, #2D2D2D 65.25%, rgba(45, 45, 45, 0) 100%);
            bottom: 0;
            padding: 0 60px 36px;
            align-items: flex-end;
            .site-logo {
                display: none;
            }
            .site-desk {
                font-size: 19px;
                line-height: 1.6;
                padding-left: 24px;
                &:after {
                    height: 66px;
                    background-size: 9px auto;
                }
            }
        }
    }
    .site-wrap .block-main {
        flex: 0;
    }
    .site-wrap .block-main.main {
        height: 460px;
    }
    .site-wrap .block-main.main {
        background: url(../images/dest/bg-main.webp) 69% 0 no-repeat;
        background-size: 185% auto;
        .main-img {
            height: 460px;
            padding-top: 0;
            padding-bottom: 40px;
            display: flex;
            align-items: flex-end;
        }
    }     
    .site-wrap .block-main.main .main-img>img{
        height: auto;
    }
    .site-wrap .block-main.services .block-1 {
        flex-direction: column-reverse;
        margin-bottom: 40px;
        padding-top: 30px;
    }
    .site-wrap .block-main.services .block-1--left {
        margin-left: 0;
    }
    .site-wrap .block-main.services .block-1--title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .site-wrap .block-main.services .block-1--desk {
        font-size: 22px;
    }
    .site-wrap .block-main.services {
        padding-bottom: 240px;
        background-size: 100% auto;
        background: #6a6a6a url('../images/dest/bg-services-mobile.webp') 50% 100% no-repeat;
    }
    .site-wrap .block-main.services .block-1--desk ul li {
        padding-left: 22px;
    }
    .site-wrap .block-main.services .block-1--desk ul li:after {
        width: 6px;
        height: 6px;
        margin-top: -3px;
    }
    .site-wrap .block-main.services .block-1--left {
        margin-right: 0;
        padding-top: 20px;
    }

    .site-wrap .block-main.projects .block-projects--nav {
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .site-wrap .block-main.projects .block-projects--nav>div:first-child {
        display: block;
        font-size: 26px;
        font-weight: 500;
    }
    .site-wrap .block-main.projects .block-projects--nav .counter {
        white-space: nowrap;
        font-size: 11px;
        margin: 0 6px;
    }
    .site-wrap .block-main.projects .block-projects--nav button {
        width: 16px;
        height: 26px;
        background-size: 16px 26px !important;
    }
    .site-wrap .block-main.projects .block-projects {
        padding-left: 0;
        padding-right: 0;
    }
    .site-wrap .block-main.projects {
        .owl-carousel {
            background: #EEEEEF;
        }
    }
    .site-wrap .block-main.projects .block-projects--name {
        font-size: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .site-wrap .block-main.projects .block-projects--desk {
        font-size: 20px;
        margin-left: 40px;
        padding-right: 40px;
        padding-left: 24px;
    }
    .site-wrap .block-main.projects .block-projects--link {
        font-size: 20px;
        display: none;
    }
    .site-wrap .block-main.projects .block-projects--title {
        font-size: 26px;
        position: absolute;
        top: 0;
        left: 40px;
    }
    .site-wrap .block-main.projects .block-projects--line div:after {
        font-size: 20px;
        transform: translateX(0px);
        top: -6px;
        left: 26px;
        width: 138px;
        white-space: normal;
    }
    .site-wrap .block-main.projects .block-projects--cen {
        height: auto;
        padding-bottom: 180px;
    }
    .site-wrap .block-main.projects .block-projects--img {
        top: auto;
        bottom: 20px;
        left: 0;
        right: 0;
        height: 200px;
    }
    .site-wrap .block-main.projects .block-projects--img.bg-1 {
        background-size: 100% auto !important;
    }
    .site-wrap .block-main.projects .block-projects--img.bg-2 {
        top: auto;
        bottom: 20px;
        left: 0;
        right: 0;
    }
    .site-wrap .block-main.projects .block-projects--line div:nth-child(even):after {
        top: -6px;
        left: auto;
        right: 28px;
        text-align: right;
    }
    .site-wrap .block-main.projects .block-projects--line {
        flex-direction: column;
        height: 284px;
        width: 2px;
        &.line-1 {
             div:nth-child(2), div:nth-child(4), div:nth-child(5), div:nth-child(6) {
                &:after {
                    top: -18px;
                }
             }
        }
        &.line-2 {
            div:nth-child(1), div:nth-child(4), div:nth-child(5) {
                &:after {
                    top: -18px;
                }
             }
             div:nth-child(5) {
                &:after {
                    width: 150px;
                }
             }
        }
    }
    .site-wrap .block-main.projects .block-projects--bot {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: 30px;
    }
    .site-wrap .block-main.projects .block-projects--line div {
        margin-top: 0;
        margin-left: -10px;
    }

    .site-wrap .block-main.video {
        background: #DADADA;
        padding: 32px 0;
    }
    .site-wrap .block-main.video .block-video .video-slider--youtube iframe {
        min-height: 188px;
    }
    .site-wrap .block-main.video .block-video .video-slider--item.slick-center .video-slider--text {
        font-size: 20px;
    }
    .site-wrap .block-main.video .block-video {
        height: auto;
    }
    .site-wrap .block-main.video .block-video .video-slider--item {
        height: auto;
    }
    .slick-dots {
        padding-top: 0;
         li {
            width: 60px !important;
            height: 2px !important;
            margin: 0 2px !important;
             button {
                width: 60px !important;
                height: 2px !important;     
            }
        }
    }


    .site-wrap .block-main.contacts {
        height: 426px;
        border-top: 3px solid #CE1312;
        background: #35363a url('../images/dest/bg-contacts.webp') 200% 10% no-repeat;
        background-size: 90% auto;
        .block-contacts {
            font-size: 20px;
            padding-right: 0;
            height: 100px;
            &--download {
                display: none;
            }
            &--partner {
                display: none;
            }
            &--left {
                margin-right: 0;
                padding: 0;
            }
            &--right {
                padding: 0;
                background: none;
                img {
                    transform: rotate(-90deg);
                    min-width: 187px;
                    margin: 0 0 0 -25px;
                    &.desktop {
                        display: none;
                    }
                    &.mobile {
                        display: inline-block;
                    }
                }
            } 
            &--social a {
                width: 33px;
            }
        } 
    }

    .site-wrap .block-main.command .block-contact-1 {
        height: auto;
        display: none;
    }

    .site-wrap .block-main.command .block-command {
        height: auto;
        padding: 0 20px;
        .slick-slide {
            display: flex;
            > div {
                width: 50%;
                padding: 0 20px;
                .command {
                    width: 100% !important;
                    min-width: auto;
                    margin-bottom: 20px; 
                }
            }
        }
    }


    .site-wrap .block-main.command .block-command .command--title {
        font-size: 15px;
    }
    .site-wrap .block-main.command .block-command .command--hint {
        font-size: 11px;
    }
    .site-wrap .block-main.command .block-command .command--img {
        margin-bottom: 10px;
    }
    .site-wrap .block-main.command .block-command .command {
        padding: 0;
    }

    .site-wrap .block-main.video .block-video .video-slider--text {
        font-size: 0;
        min-height: 60px;
    }    
    .site-wrap .block-main.video .block-video .video-slider--item.slick-center .video-slider--text {
        font-size: 20px;
    }
    .site-wrap .block-main.video .slick-dots {
        padding-top: 20px;
    }

    .site-wrap .block-main.main, .site-wrap .block-main.contacts {
        width: 100%;
        overflow: hidden;
    }

    .block-contact-1-mobile {
        display: block;
    }

    .site-wrap .block-main.contacts .block-copyright {
        height: 120px;
    }

    .site-wrap .block-main #fullpage {
        width: 100%;
        overflow: visible;
        height: auto;
        position: relative;
    }

    #section3 {
        display: none;
    }

}




































