
@import 's3.animator';
@import 'normalize';
@import 'fonts';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.site-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .site-header {       
        background: #EFEFEF;
        border-top: 6px solid #DF0000; 
        position: relative;
        z-index: 4;
        .site-header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 94px;
        }
        nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
            font-family: 'DIN Pro Cond', Arial, serif;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            li {
                padding: 0 20px;
                a {
                    color: #353535;
                    text-decoration: none;
                    font-size: 22px;
                    transition: color 0.3s ease;
                    &:hover {
                        color: #DF0000;
                    }
                }
            }
        }
    }
    .block-main {
        flex: 1;
        background: url('../images/dest/bg-main.webp') 50% 20% no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-end;
        user-select: none; 
        width: 100%;
        .main-img {
            text-align: center;
            padding-top: 100px;
            margin: 0 auto;
            position: relative;
            @media (max-height: 800px) {
                padding-top: 50px;
            }
            @media (max-height: 700px) {
                padding-top: 40px;
            }
            > img {
                vertical-align: bottom;
                height: calc(100vh - 340px);


                @media (max-width: 1160px) {
                    height: auto;
                }
                @media (max-height: 820px) {
                    height: calc(100vh - 282px);
                }
                @media (max-height: 800px) {
                    height: calc(100vh - 286px);
                }
                @media (max-height: 700px) {
                    height: calc(100vh - 238px);
                }
                
            }
            .about-site {
                position: absolute;
                bottom: 15%;
                right: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .site-desk {
                    display: block;
                    color: #fff;
                    font-size: 40px;
                    text-transform: uppercase;
                    line-height: 49px;
                    font-family: 'DIN Pro Cond', Arial, serif;
                    font-weight: 500;
                    position: relative;
                    padding: 0 0 0 34px;
                    text-align: left;
                    margin-left: 20px;
                    @media (max-width: 1280px) {
                        font-size: 44px;
                    }
                    

                    @media (max-height: 900px) {
                        font-size: 32px;    
                    }

                    @media (max-height: 860px) {
                        font-size: 30px;    
                    }

                    @media (max-height: 800px) {
                        font-size: 30px;
                        line-height: 40px;
                        padding-top: 8px; 
                    }

                    @media (max-height: 760px) {
                        font-size: 30px;
                        margin-left: 0px;
                    }

                    @media (max-height: 660px) {
                        font-size: 26px;
                        margin-left: -20px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 32px;
                        margin-left: 10px;
                    }


                    &:after {
                        content: '';
                        display: block;
                        background: url('../images/dest/ico-1.svg') 0 0 no-repeat;
                        width: 14px;
                        height: 95px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .site-logo {
                    display: block;
                    max-width: 440px;
                    margin-right: 20px;
                    @media (max-width: 1440px) {
                        max-width: 370px;
                    }
                    @media (max-width: 1380px) {
                        max-width: 340px;
                    }
                    @media (max-width: 1280px) {
                        max-width: 310px;
                    }
                    


                    @media (max-height: 900px) {
                        max-width: 364px;
                    }

                    @media (max-height: 800px) {
                        max-width: 304px;
                    }

                    @media (max-height: 760px) {
                        max-width: 260px;
                        margin-right: 0px;
                    }
                    @media (max-height: 660px) {
                        max-width: 220px;
                        margin-right: -20px;
                    }

                    @media (max-width: 1024px) {
                        max-width: 250px;
                    }
                }
            }
        } 
    }
    .site-inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: 1280px) {
            padding: 0 20px;
        }
    }
}







